*{
    box-sizing: border-box;
    background-color: cadetblue;
}
.App {
    font-family: sans-serif;
    max-width: 900px;
    margin: auto;
    text-align: center;
}

main h1 {
    color: aliceblue;
    font-size: xxx-large;
}

.h2 {
    color: gold;
    font-size: xx-large;
}

#score-number {
    color: aliceblue;
}

.info-display {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-display p {
    padding-left: 10px;
    font-size: larger;
    color: aliceblue;
    font-weight: bold;
}